*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: open sans,sans-serif;
}

.header{
    position: absolute;
    top: 0;
    width: 100%;
    color: #fff;
    z-index: 100;
    transition: .25s padding-top ease-in-out,.25s padding-bottom ease-in-out;
    background: 0 0;
}

.container{
    width: 100%;
    padding-right: 28px;
    padding-left: 28px;
    margin-right: auto;
    margin-left: auto;
}

.hero{
    position: relative;
    color: #fff;
    background: linear-gradient(to bottom,#7a19f1,#332179);
    background-attachment: fixed;
}